<% remote_form_for(:question, :url => group_questions_path(@group), :html => { :method => :put }) do |f| %>
  <p>
    <label for="question_text">Editar Pergunta:</label>br />
    <%= f.text_area :text %>
  </p>

  <p>
    <%= submit_tag "Salvar" %>
  </p>
<% end %>


