<% form_remote_tag :url => group_questions_path(@group),  :html => {:id => 'question_form'} do -%>
  <label for="question_text">Pergunta:</label>
  <%= text_area 'question', 'text' %>
  <%= submit_tag 'Salvar' %>
<% end -%>
