<% for activity in activities %>
<p id="ques_<%= activity.creation_id %>">
<%= link_to_remote "#{activity.creation.text[0...15]}...", :url => group_question_url(@group.id, activity.creation_id), :method => 'get'%>
<% end %>

