<% form_remote_tag :url => group_messages_url(@group),  :html => {:id => 'message_form'} do -%>
                    
  <label for="message_messages">Mensagem</label>
  <%= text_field 'message', 'messages' %>
 
  <%= submit_tag 'Enviar' %>

<% end -%>
