<% form_for(:observation, :url => activity_observation_path(observation, activity), :html => {:id => "obs_ed_#{activity}", :method => :put}) do |f| %>

  <label for="observations_text">Obs:</label>
  <%= text_field 'observation', 'text' %>

 <%= submit_tag "Editar" %> 

<% end %>