

<% form_remote_tag :html => {:id => 'pbs_new'} do -%>
                    
  <label for="observations_text">Obs:</label>
  <%= text_field 'observations', 'text' %>
 
  <%= submit_tag 'Enviar' %>

<% end -%>
