<% for interaction in interactions %>
<p id="ques_<%= interaction.activity.creation_id %>">
[<%= interaction.activity.creation.answers.count %>]
<%= link_to_remote "#{interaction.activity.creation.text[0...15]}...", :url => group_question_url(@group.id, interaction.activity.creation_id), :method => 'get'%> - <%= interaction.created_at.to_s(:interaction) %>
<% end %>

