<label for="">Tema:
  <%= f.text_field :name %>
</label>

<label for="">Descrição:
  <%= f.text_area(:summary, :rows =>1, :cols =>26) %>
</label>

<label for="">Senha:
  <%= f.password_field :password %>
</label>

<label for="">Ativar:
  <%= f.text_field :active %>
</label>

<label for="">Numero minino de questões:</label>
<%= text_field_tag  'configuration[questions_max]' %>

<label for="">Numero de participantes:</label>
<%= text_field_tag 'configuration[number_participants]' %>



