
<% form_for(:theme, :url=>themes_path)  do |f|  -%>
<fieldset>
<h3>Cadastro de Temas</h3>

<%= render :partial => 'form', :locals => {:f =>f} %>

<p><%= submit_tag 'Criar' %></p>

</fieldset>
<% end -%>

