<p><b>Pergunta:</b> <%= play.question.text -%></p>
<p><b>Selecione uma resposta:</b></p>
<ul>
<% for answer in play.question.answers %>  
  <li><%= radio_button("play", "answer", answer.id) %><%= answer.text -%></li>
<% end %>
</ul>
