*, html, body {
	margin:0;
	padding:0;
	list-style: none;
        font-family: Verdana,Arial,Helvetica,sans-serif;
}

html {
	background: url('../images/back2.jpg') repeat fixed 0 0;	
}
body {
}   

img { 
	border: 0;
}

fieldset { 
	display: block; 
	border: 2px ridge #FFF; 
	padding: 10px; 
}

ul, ol { 
	/*margin-left: 10px;*/ 
}

input[type=hidden]{ 
	display: none !important;
	visibility: hidden !important;
}

button { 
	border: 1px outset #AAA;
}

form button { 
	text-align: center; 
	margin: 5px auto; 
	display: block; 
}

form ul { 
	list-style: none; 
	margin-left: 0;
}

fieldset label { 
	display: block;
}

fieldset .radios label { 
	display: inline;
}

p { margin-top: 5px; }

/* padronizando tamanhos de cabecalho em todos os browsers */
h1 { font-size: 250%;}
h2 { font-size: 200%;}
h3 { font-size: 150%;}
h4 { font-size: 120%;}


.img-left { float: left; }
.img-right { float: right;}
 #session{ 
float: right;
background:  url('../images/session2.png') no-repeat center center;
width: 230px;
height: 90px;
font-size:11px;
 }
 
#session label {
display:block;
float:left;
font-size:10px;
font-weight:bold;
padding-right:10px;
text-align:right;
width:50px;
color: #138DDA;
}
/*
exemplo para colcoar imagens no fundo do botao input
#session .button {
    border: none;
    background: url('../images/green.gif') no-repeat;
    content: ""; 
    display: inline-block; 
    height: 32px;
    line-height: 0; 
    text-indent: -9999px;
    width: 32px;
}
*/
#menu {
margin: 70px 0px 0px 0px ;
float: left;

}
#menu  a {
float: left;
padding: 0px 15px;
background: #9CD8F5;
color:#fff;
font-weight: bolder;
text-decoration: none;

}
#menu  a:hover{
background: #138DDA;
color: #DBFF9D;
} 

ul#menu li a{
float: left;
}
ul#menu li {
display: inline;
}

#header{
background: url('../images/menu.png') no-repeat top center;
height: 134px;
}

#header h1{
color:  #82C0E9;
text-align: center;
font-style: italic;

}

#msgs{
background: #9fc;
}
#errors{
background: #f36;
color: yellow;
}

#content{
background: #fff;
width: 99%;
margin: 0 auto;
border: solid 2px #1188D8;
}


#content table{
background: #fff;
}
#content tr:hover{
background:  #e8eefa;
}

#messages {
height: 100px;
background: #e8eefa;
overflow: auto;
}

#menu_aq {
height: 30px;
background: white;
overflow: auto;
}


#content_aq {
height: 190px;
/*background: #00ff44;*/
overflow: auto;
}
#answer_new,#question_new,#question_list,#question_view  {
width: 350px;
float: left;
/*background: #00ff44;*/
overflow: auto;
}
.correct{
background: url('../images/green.gif') no-repeat;
padding: 0px 0px 0px 15px;
}
.incorrect{
background: url('../images/red.gif') no-repeat;
padding: 0px 0px 0px 15px;
}
.column3{
width: 31.5%;
/*overflow: auto;*/
margin: 5px;
border: solid 1px black;
float: left;
background: #fff;


}
#game_place{
overflow: auto;
height: 190px;
}
.show_group{
    background: #99ffcc;
}
.observation_postit{
    background: yellow;
    width: 200px;
}