<h3>Lista de Grupos</h3>

<table>
  <tr>
                <td>Nome</td>

                       
  </tr>

  <% for registration in   @registrations %>
<% for group in registration.groups %>
  <tr>
    <td><%= group.name %></td>

  </tr>
  </tr>
<% end %>
<% end %>
</table>

<br />


