<h3>Lista de Grupos</h3>

<table>
  <tr>
                <td>Nome</td>
                <td>tema</td>

                       
  </tr>

  <% for registration in   @registrations %>
<% for group in registration.groups %>
  <tr>
    <td><%= group.name %></td>
    <td><%= group.theme.name %></td>


    <td><%= link_to 'Bate-Papo', group_path(group) %></td>

  </tr>
  </tr>
<% end %>
<% end %>
</table>

<br />


