<h3>Lista de Grupos</h3>

<table>
  <tr>
                <td>Nome</td>

                       
  </tr>
  
<% for group in @groups %>
  <tr>
    <td><%= group.name %></td>

  </tr>
  </tr>
<% end %>

</table>

<br />
