<center>
<br>
<h4>Novo Grupo</h4>
<br>
<FIELDSET style="width: 300px; height: 150px">



<% form_for(:group, :url => theme_groups_path) do |f| %>
  <p>
  <%= render :partial => 'form', :locals => {:f => f} %>
<br>
<br>
      <%= submit_tag "Criar" %>
	  <%= link_to 'Voltar', theme_groups_path(@theme) %>
  </p>


<% end %>
<br>
<br>
</fieldset>


</center>
