<h3><%= @group.name %></h3>
<p style="color:red"> AVISO: Ajax pesado em 5 segundos </p>
<div id="last_message"></div>
<div id="messages">
</div>
<%= periodically_call_remote :url => {:action => :message , :id=>params[:id]},   :frequency => 5.0 %>
