
<% form_tag :action => 'create'  do  -%>

<h3>Cadastro</h3>

<%= hidden_field_tag :institution, @institution %>

<p><label for="invite">Login ou Email da pessoa a ser convidada</label><br/>
<%= text_field_tag :invite %></p>


<p><%= submit_tag 'Sign up' %></p>

<% end -%>
