<%= error_messages_for :user %>
<% form_for :user, :url => {:action => "create" } do |f| -%>

<h3>Cadastro</h3>

<%= hidden_field :institution, @institution %>

<p><label for="invite">Login ou Email da pessoa a ser convidada</label><br/>
<%= f.text_field :invite %></p>


<p><%= submit_tag 'Sign up' %></p>
<% end -%>
