<%=  javascript_tag "var message = 0;"  %>
<%=  javascript_tag "var play = 0;"  %>


<%= periodically_call_remote( 
  :url => check_player_plays_url(player),
  :with => "'play=' + play + '&message='+ message",
  :frequency => 1.0) %>
