

<fieldset>
  <p>
    <b>Date begin</b><br />
    <%= f.date_select :date_begin %>
  </p>

  <p>
    <b>Concluded</b><br />
    <%= f.check_box :concluded %>
  </p>

  <p>
    <b>Victory</b><br />
    <%= f.text_field :victory_id %>
  </p>

</fieldset>
