

<fieldset>
  <p>
    <b>Date begin</b><br />
    <%= f.datetime_select :date_begin %>
  </p>

  <p>
    <b>concluded</b><br />
    <%= f.check_box :concluded%>
  </p>



  <p>
    <b>Victory</b><br />
    <%= f.text_field :victory_id %>
  </p>


  <% for group in   @groups %>

<%= group.name %>
<%= check_box_tag "groups[]",  group.id %>  </br>


<% end %>
</fieldset>
