

<fieldset>
  <p>
    <b>Data e hora do Jogo</b><br />
    <%= f.datetime_select :date_begin %>
  </p>


</br> <p><b></br>Grupos para o jogo</b></p>
  <% for group in   @groups %>

   <p></br><%= group.name %>
<%= check_box_tag "groups[]",  group.id %>  </br>  </p>


<% end %>
</fieldset>
