<h3>Novo Jogo</h3>

<%= error_messages_for :game %>

<% form_for(:game, :url => theme_games_path(@theme)) do |f| %>


  <%= render :partial => 'form', :locals => {:f => f} %>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Voltar', theme_games_path(@theme) %>
