<h1>New game</h1>

<%= error_messages_for :game %>

<% form_for(:game, :url => games_path) do |f| %>


  <%= render :partial => 'form', :locals => {:f => f} %>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', games_path %>
