<p>
  <b>Data e hora do jogo:</b>
  <%=h @game.date_begin %>
</p>

<p>
  <b>Concluido:</b>
  <%=h @game.concluded %>
</p>

<p>
  <b>Vencedor:</b>
  <%=h @game.victory_id %>
</p>


<%= link_to 'Editar', edit_game_path(@theme, @game) %> |
<%= link_to 'Voltar', games_path %>
