<h3>Editar</h3>

<%= error_messages_for :link %>

<% form_for(:link, :url => theme_link_path(@link.theme_id, @link), :html => { :method => :put }) do |f| %>

  <%= render :partial => 'form', :locals => {:f => f} %>

 <%= submit_tag "Editar" %> or <%= link_to 'Voltar', theme_links_path(@link.theme_id) %>

<% end %>
