<h1>Lista de Link</h1>

<table>
  <tr>
  </tr>
  
<% for link in @links %>
  <tr>
    <td><%= link_to 'Show', link_path(@theme, link) %></td>
    <td><%= link_to 'Edit', edit_link_path(@theme, link) %></td>
    <td><%= link_to 'Destroy', link_path(@theme, link), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Link', new_link_path %>
