<h3>Novo Link</h3>

<% form_for(:link, :url => theme_links_path) do |f| %>
  <p>
  <%= render :partial => 'form', :locals => {:f => f} %>

    <%= submit_tag "Criar" %>
  </p>
<% end %>

<%= link_to 'Voltar', theme_links_path(@theme) %>
