

<fieldset>
<label for="">Nome
  <%= f.text_field :name %>
</label>

<label for="">Descrição
  <%= f.text_field :description %>
</label>

<label for="">Cabecario
  <%= f.text_field :heading %>
</label>

</fieldset>
