


<p> Nome: <%= @archive.name %></p>

 <p> Descrição:<%= @archive.description %></p>


<p> Arquivo: <%= @archive.heading %></p>


<%= link_to 'Editar', edit_theme_archive_path(@archive.theme, @archive) %> |
<%= link_to 'Voltar', archives_path %>



