<p> Nossa sociedade hoje vive um processo de mudanças. Os meios pelo qual o ensino se procede tem passado por inúmeras alterações. A comunicação sofreu metamorfoses neste ultimo século, como jamais visto antes. O principal desafio é acompanhar estas modificações. A pesquisa iniciou com a idéia de produzir uma ferramenta que possibilite auxiliar o ensino através da informática.</p>

<p>Inicialmente, identificaremos os principais problemas com as aplicações existentes e através da discussão e pesquisa, desenvolvemos uma concepção de ferramenta que possibilitará resolver estas questões. Esta pesquisa desenvolverá uma aplicação educacional que tem como objetivo resolver alguns problemas relacionados aos softwares educativos. Estes problemas serão identificados através de outros trabalhos acadêmicos da área pedagógica. Implantaremos uma metodologia, baseada na elaboração de perguntas e respostas aplicadas dentro de um jogo. Serão abordados assuntos referentes a evolução do processo de comunicação na educação, o homem e a cibercultura e a aplicação de jogos no processo educacional.</p>
