<p>Bem vindo ao Sistema de Perguntas e Respostas</p>

<p>Um jogo no qual os alunos constroem suas questões baseados na temática definida pelo professor</p>





<p>Projeto de: Gustavo Caixeta e João Santi Jr</p>
